main {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
    /* resta la altura del menú inferior */
    padding: 1rem;
    box-sizing: border-box;
    overflow-y: auto;
    /* por si el calendario crece más */
    /* padding-top: 4rem; */
    width: 100vw;
}

h1 {
    text-align: center;
    margin: 2rem 0;
}

h1 span {
    padding: 0.5rem;
    font-size: 2rem;
    cursor: pointer;
}

.month {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    flex-grow: 1;
    padding: 0 5px;
}

.day {
    border: 1px solid #ccc;
    padding: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    padding: 5px;
    overflow: hidden;
}

.day.today {
    /* blue background */
    background-color: #007bff;
    color: white;
}

.date-number {
    align-self: start;
    font-size: 0.7rem;
    color: #999;
}


.sushi-count {
    padding: 5px;
    margin-top: 5px;
    font-size: 1rem;
    font-size: bigger;
    margin: 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ccc;
    font-weight: lighter;

}

.has-sushi {
    font-weight: bold;
    color: white;
}

.log-entry {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr 1fr;

}

.log-entry span {
    margin: 0;
        /* que este en la columna 1 */
        grid-column: 1;
        justify-self: start;

}

.log-entry img {
    width: 2rem;
    height: auto;
    cursor: pointer;
    justify-self: end;
    /* que ocupe las dos filas */
    grid-row: 0 / 1;
    grid-column: 2;

}

