footer {
    bottom: 0;
    width: 90%;
    border-top: 1px solid #333;
    background-color: #222222;
}

footer nav {
    display: flex;
    flex-direction: row;
    padding: 1.5rem 2rem 0.2rem 2rem;
    gap: 0.8em;
    justify-content: center;
    margin: 0;
    font-size: 2em;
    color: #aaa;
    text-align: center;
}

footer nav a img {
    color: white;
    width: 1.5em;
    height: auto;
}